 /* Basic Selectors */

        /* 1. Universal Selector */
        *{
            margin: 0px;
            padding: 0px;
        }

        /* ELement Selector */
        body{
            margin: 5px;
            padding: 5px;
        }
        hr{
            margin: 20px;
        }
        h1{
            margin-bottom: 8px;
        }
        li{
            margin-left: 35px;
            padding: 4px;
            margin-bottom: 4px;
            background-color: antiquewhite;
            color: rgb(222, 10, 10);
            font-weight: bold;
        }

        /* Class Selector */
        #Basic_Selectors .li2{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: larger;
            color: green;
        }

        /* ID Selector */
        #Basic_Selectors #li3{
            background-color: tomato;
            color: rgb(71, 3, 3);
        }

        /* Attribute Selector */
        #Basic_Selectors input[type="text"]{
            padding: 8px;
            border: none;
            border-radius: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        #Basic_Selectors input[type="email"]{
            padding: 5px;
            border: 1px solid black;
            border-width: 0px 1px 0px 1px;    
            border-radius: 5px;
        }
        #Basic_Selectors input[type='text']:focus{
            outline: none;
        }
        
        #Basic_Selectors input[type="email"]:hover{
            border-width: 0px 1px 1px 1px;
        }
        #Basic_Selectors input[type="email"]:focus{
            border-width: 0px 0px 1px 0px;
            outline: none;
        }

/* End of Basic Selectors */


